<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Hello, world!</title>
</head>
<body>


	<div class="container">

		<h1 class="text-center">Customers</h1>
		<a href="/new">Add New Customers</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Gender</th>
					<th scope="col">Email</th>
					<th scope="col">Mobile</th>
					<th scope="col">Address Line1</th>
					<th scope="col">Address Line2</th>
					<th scope="col">Country</th>
					<th scope="col">State</th>
					<th scope="col">City</th>
					<th scope="col">Zipcode</th>
					<th scope="col">Delete</th>
					<th scope="col">Update</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer:${customers}">
					<th th:text="${customer.id}">ID</th>
					<td th:text="${customer.name}">Name</td>
					<td th:text="${customer.gender}">Gender</td>
					<td th:text="${customer.email}">Email</td>
					<td th:text="${customer.mobile}">Mobile</td>
					<td th:text="${customer.Addressline1}">AddressLine1</td>
					<td th:text="${customer.Addressline2}">AddressLine2</td>
					<td th:text="${customer.country}">Country</td>
					<td th:text="${customer.state}">State</td>
					<td th:text="${customer.city}">City</td>
					<td th:text="${customer.zipcode}">Zipcode</td>
					<td><a th:href="@{/delete/{id}(id=${customer.id})}"><button
								type="submit" class="btn btn-outline-danger ">
								<i class="fa fa-trash"></i>Delete
							</button></a></td>
					<td><a th:href="@{/update/{id}(id=${customer.id})}"><button
								type="submit" class="btn btn-outline-primary ">
								<i class="fa fa-bars"></i>Update
							</button></a></td>
				</tr>
			</tbody>
		</table>


	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>