<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>


		<div class="card mr-3">

			<div class="card-body">

				<h1 class="text-center">Your Contacts</h1>

				<div class="search-container my-4">

					<input onkeyup="search()" id="search-input" type="text"
						class="form-control" placeholder="Search Contacts" />


					<div class="search-result">

						<h1>This is result</h1>
					</div>

				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c :${contact}">
								<th scope="row"><span th:text="'SCMUSER'+${c.cid}"></span></th>
								<td><img class="my_profile_picture"
									th:src="@{'/img/contact/' +${c.image}}" alt="" /> <span
									th:text="${c.name}"> </span></td>

								<td><a href="" th:href="@{'/user/'+${c.cid}+'/contact/'}">
										<span th:text="${c.email}"> </span>
								</a></td>

								<td><span th:text="${c.phone}"></span></td>

								<td>
									<button th:onclick="|deleteContact(${c.cid})|"
										class="btn btn-danger btn-sm">Delete</button>

									<form class="mt-2"
										th:action="@{'/user/'+${c.cid}+'/contactupdate/'}"
										method="post">
										<button type="submit" class="btn btn-primary btn-sm">Update</button>
									</form>
								</td>
							</tr>

						</tbody>
					</table>
					</div>

					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:if="${currentpage != 0}" class="page-item"><a
								class="page-link"
								th:href="@{'/user/show-contact/'+${currentpage-1}}" href="#">Previous</a></li>

							<li th:classappend="${currentpage==i-1 ? 'active' :'' }"
								th:each="i: ${#numbers.sequence(1,totalpage)}" class="page-item">

								<a class="page-link" href="#"
								th:href="@{'/user/show-contact/'+${i-1}}"> <span
									th:text="${i}"></span>
							</a>

							</li>

							<li th:if="${currentpage+1 != totalpage}" class="page-item"><a
								class="page-link"
								th:href="@{'/user/show-contact/'+${currentpage+1}}" href="#">Next</a></li>
						</ul>
					</nav>
				</div>
			</div>
			
			<script>	
		$(document).ready(() => {
		$('.item').removeClass("active");
		$("#contact-link").addClass("active");
		});
		</script>
	</section>

</body>
</html>