<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})"> 
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<h1>this is about page</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Quibusdam vel saepe repellat voluptate blanditiis unde neque facere
			fugiat distinctio laborum maiores suscipit vitae officiis dolorum
			voluptates soluta maxime sequi quidem corporis illum incidunt? Ea
			inventore facilis dolores labore eius magnam quisquam beatae fugit
			aut ex et tempore rem mollitia illum.</p>
	</section>
</body>
</html>