<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="account-wall">

						<h3 class="text-center">New Password</h3>

						<form class="form-signin" th:action="@{/change-password}" method="post">

							<input type="text" class="form-control"
								placeholder="Enter New Password" name="newpassword" required
								autofocus>

							<div class="container mt-3 text-center">
								<button class="btn btn btn-success " type="submit">
									Change Password</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>