<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-8 offset-md-2">



					<div class="my-card mt-1">
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert "
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>


						<div class="container text-center">
							<img style="width: 100px" th:src="@{img/membership.png}" alt="" />
						</div>


						<h1 class="text-center">Register Here !!</h1>

						<form novalidate th:object="${user}" th:action="@{/do_register}"
							method="post" enctype="multipart/form-data">


							<div class="form-group">
								<label for="exampleInputEmail1">Your Name</label> <input
									type="text" class="form-control " name="name"
									th:value="${user.name}" id="exampleInputEmail1"
									aria-describedby="emailHelp"
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : '' }"
									placeholder="Enter Username">
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
									class="invalid-feedback"></div>

							</div>


							<div class="form-group">
								<label for="exampleInputEmail1">Your Email </label> <input
									type="email" class="form-control" id="email_field"
									placeholder="Enter Here" th:value="${user.email}" name="email"
									aria-describedby="emailHelp" required="required">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Your Password </label> <input
									type="password" class="form-control" id="password_field"
									placeholder="Enter Here" name="password"
									aria-describedby="emailHelp" required="required">
							</div>


							<div class="form-group">
								<label for="exampleFormControlTextarea1">About </label>
								<textarea placeholder="Enter About" th:text="${user.about}"
									name="about" class="form-control"
									id="exampleFormControlTextarea1" rows="6"></textarea>
							</div>

							<div class="custom-file">
								<input type="file" name="profileImage" />
							</div>

							<div class="form-group form-check text-center">

								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept Terms
									and Condition</label>

							</div>


							<div class="container text-center">
								<button type="submit" class="btn btn-primary text-white">
									Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>

							</div>
						</form>
					</div>



				</div>

			</div>

		</div>

		</div>


	</section>
</body>
</html>