<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="account-wall">


						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>


						<form class="form-signin" th:action="@{/verify-otp}" method="post">

							<input type="number" class="form-control"
								placeholder="Enter OTP Here" name="otp" required autofocus>

							<div class="container mt-3 text-center">
								<button class="btn btn btn-success " type="submit">
									Verify</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>